<div id="gitalk-container"></div>
<script>
    var gitalk  = new Gitalk({
        id: (decodeURIComponent(window.location.pathname)).substring(0, 49),
        clientID: '{{ site.gitalk.clientId }}',
        clientSecret: '{{ site.gitalk.clientSecret }}',
        accessToken: '{{ site.gitalk.accessToken }}',
        repo: '{{ site.gitalk.repo }}',
        owner: '{{ site.github.username }}',
        admin: ['{{ site.github.username }}'],
        distractionFreeMode: false
    });
    gitalk.render('gitalk-container');
</script>